div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example{
    from{
        background-color:aqua;
    }
    to{
        background-color: brown;

    } 

}